body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  background: #1e293b;
  padding: 20px;
  font-size: 26px;
  font-weight: bold;
}

nav {
  margin: 20px;
}

nav a {
  color: cyan;
  margin: 15px;
  text-decoration: none;
}

.card {
  background: #1e293b;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 12px;
}
